body {
    background-color: rgb(19, 99, 4);
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 5px auto;
    justify-content: space-around;
    min-height: 150px;
    width: 50%;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.list-group {
    width: 20em;
}


/*#addTask button{
    height:50px;
    width: 40px;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
}*/

#tasks {
    min-height: 20%;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 75%;
    display: inline-block;
}

.task {
    font-family: 'Poppins', sans-serif;
    min-width: 150px;
    background-color: whitesmoke;
    height: inherit;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    color: darkcyan;
    justify-content: space-between;
}

#title {
    font-size: 25px;
}

.card-text {
    font-size: 20px;
}

.task button {
    background-color: lightcyan;
    height: 20px;
    width: 20px;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
}


/* .timestamp p {}

#taskname {} */